body{
  background-color:black;
}
#body-row {
  margin-left:0;
  margin-right:0;
}
#sidebar-container {
  min-height: 100vh;   
  background-color: #333;
  padding: 0;
}
/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
.sidebar-separator {
  background-color: #333;
  height: 25px;
}
.logo-separator {
  background-color: #333;    
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
content: " \f0d7";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
content: " \f0da";
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 10px;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 100%;
  height: 200px;
  /* border-radius: 40px; */
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
  /*margin-top: -80px;*/
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }

  .card{
    width: auto;
    height: 25vh;
  }

  .card-body p{
    font-size: 4.4vh;
  }

  .card-body h4{
    font-size: 2.9vh;
    font-weight:bold;
  }
}

.bg-c-blue {
  background: linear-gradient(45deg,#020ff7,#030650);
}

.bg-c-green {
  background: linear-gradient(45deg,#05fa15,#045709);
}

.bg-c-yellow {
  background: linear-gradient(45deg,#f7b602,#5e4704);
}

.bg-c-b {
background-color: #333335;
}

.bg-c-black {
background-color: #2E2E2E;

}

a.bg-c-black:hover, a.bg-c-black:focus,
button.bg-c-black:hover,
button.bg-c-black:focus {
background-color: black !important;
}

.bg-c-c1 {
background-color: #4C515D;
}


.list-group-item-dark1 {
color: whitesmoke;
background-color: #333335;
}

.doc-title {
text-align: center;
border-top: 1px solid #e0e0e0;
border-bottom: 1px solid #e0e0e0;
padding: 2rem 0;
/* margin: 5rem 0 2rem; */
text-transform: uppercase;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);
.snip1527 {
box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
color: #ffffff;
font-family: 'Lato', Arial, sans-serif;
font-size: 16px;
margin: 10px;
max-width: 310px;
min-width: 250px;
overflow: hidden;
position: relative;
text-align: left;
width: 100%;
}

.snip1527 * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.25s ease;
transition: all 0.25s ease;
}

.snip1527 img {
max-width: 100%;
height: 330px;
width: 400px;
vertical-align: top;
position: relative;
}

.snip1527 figcaption {

padding: 25px 20px 25px;
position: absolute;
bottom: 0;
z-index: 1;
}

.snip1527 figcaption:before {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: #700877;
content: '';
background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
opacity: 0.8;
z-index: -1;
}

.snip1527 .date {
background-color: #fff;
border-radius: 50%;
color: #700877;
font-size: 18px;
font-weight: 700;
min-height: 48px;
min-width: 48px;
padding: 10px 0;
position: absolute;
right: 15px;
text-align: center;
text-transform: uppercase;
top: -25px;
}

.snip1527 .date span {
display: block;
line-height: 14px;
}

.snip1527 .date .month {
font-size: 11px;
}

.snip1527 h3,
.snip1527 p {
margin: 0;
padding: 0;
}

.snip1527 h3 {
display: inline-block;
font-weight: 700;
letter-spacing: -0.4px;
margin-bottom: 5px;
}

.snip1527 p {
font-size: 0.8em;
line-height: 1.6em;
margin-bottom: 0px;
}

.snip1527 a {
left: 0;
right: 0;
top: 0;
bottom: 0;
position: absolute;
z-index: 1;
}

.snip1527:hover img,
.snip1527.hover img {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}



.fa-globe {
animation: turner 4s infinite linear;

color: #fff;
}

@keyframes turner {
  from {  transform: rotateY(0deg)   }
  to   {  transform: rotateY(360deg) }
}


@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
.footer{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 18px;
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 8px;
  color: #ffffff;
}
.text {
  font-size: 40px;
  transition: 2s all;
  text-align: center;
  margin-bottom: 40px;
}
.footer p {
  text-align: center;
  font-size: 17px;
}
.spaced {
  letter-spacing: 40px;
}

.icons {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}
 .advice {
  margin: 1rem;
  transition: 0.5s all;
  text-align: center;
  animation: anim 2s forwards;
  
}

 .fas {
  font-size: 30px;
  animation: anim 2s forwards;
}


@keyframes anim {
  to {
    padding: 16px;
  }
}

@media screen and (max-width: 420px) {
  .spaced {
    letter-spacing: 8px;
  }
}
